{% extends 'facteuraccordeur.html.twig' %}
{% block stylesheets %}<link href="{{ asset('facteuraccordeur/css/stylecontact.css') }}" rel="stylesheet" />{% endblock %}

{% block body %}

    <div class="maincontact">
        
        {% if not is_granted("ROLE_USER") %}

            <img class="telephonecontact" src="{{ asset('facteuraccordeur/images/telephone.png') }}" alt="#">

            <p class="numero">06 06 06 06 06<br>
                <span class="info">Pour me contacter par téléphone</span>
            </p>

            <img class="arobasecontact" src="{{ asset('facteuraccordeur/images/arobase.png') }}">
            <br>
            <a class="btn btn-lg btn-primary mt-1" href="{{ path('app_register') }}">
                Inscription
            </a>
            <a class="btn btn-lg btn-primary mt-1" href="{{ path('app_login') }}">
                Connexion
            </a>
            <p class="info">
                Pour m'envoyer un message, l'inscription est obligatoire seulement pour la première conexion
            </p>
        {% else %}
        {# <a class="nav-link" href="{{ path('app_logout') }}"></a> #}
        <img class="telephonecontact" src="{{ asset('facteuraccordeur/images/telephone.png') }}" alt="#">

            <p class="numero">06 06 06 06 06<br>
                <span class="info">Pour me contacter par téléphone</span>
            </p>
        <a class="boutonformulairecontact btn btn-primary" href="{{ path('app_formulaire') }}">
        Formulaire de contact
        </a>
        <p class="info">
            Pour accéder au formulaire vous devez impérativement valider votre adresse mail en cliquant sur le lien que vous avez reçu dans votre messagerie
        </p>
        {% endif %}

    </div>

{% endblock %}
