{% extends 'facteuraccordeur.html.twig' %}
{% block stylesheets %}<link href="{{ asset('facteuraccordeur/css/stylepianodroit.css') }}" rel="stylesheet" />{% endblock %}

{% block body %}

<main class="mainpianodroit">

    {% for type in types %}
    <h1>{{ type.forme }}</h1>
    {% endfor %}

    <table>

        <thead>
            <tr>
                <th>Photo</th>
                <th>Marque</th>
                <th>Réfence</th>
                <th>Prix</th>
                <th>Magasin</th>
            </tr>
        </thead>

        <tbody>
            {% for produit in produits %}
                <tr >
                    <td>
                        <img src="{{ app_cdn }}{{ produit.photo }}" alt="#" width="100">
                    </td>
                    <td>{{ produit.marque }}</td>
                    <td>{{ produit.ref }}</td>
                    <td>{{ produit.prix }}</td>
                    <td>
                        {% for magasin in produit.magasins %}
                        {{ magasin.nom }} <br> {{ magasin.numero }} {{ magasin.voie }} <br> {{ magasin.codepostal }} {{ magasin.ville }}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        
    </table>
    
</main>

{% endblock %}
