{% extends 'facteuraccordeur.html.twig' %}
{% block stylesheets %}<link href="{{ asset('facteuraccordeur/css/stylepianodroit.css') }}" rel="stylesheet" />{% endblock %}

{% block body %}

<main class="mainpianodroit">

    <h1>Sélections de Pianos Droits</h1>

    <table>

        <thead>
            <tr>
                <th>Photo</th>
                <th>Marque</th>
                <th>Réfence</th>
                <th>Prix</th>
                <th>Magasin</th>
            </tr>
        </thead>

        <tbody>
            {# {% for produit in produits %}
                <tr >
                    <td><img src="{{ asset('facteuraccordeur/images/piano1.png') }}"></td>
                    <td>{{ produit.marque }}</td>
                    <td>{{ produit.ref }}</td>
                    <td>{{ produit.prix }}</td>
                </tr>
            {% endfor %} #}
        </tbody>
            
        <tfoot>
            <tr>
                <td>M</td>
                <td>M</td>
                <td>M</td>
                <td>M</td>
            </tr>
        </tfoot>

    </table>
    
</main>

{% endblock %}
