{% extends 'facteuraccordeur.html.twig' %}
{% block stylesheets %}<link href="{{ asset('facteuraccordeur/css/stylepianodroit.css') }}" rel="stylesheet" />{% endblock %}

{% block body %}

<main class="mainpianodroit">

    <h1>Sélections de Pianos Droits</h1>

    <table>

        <thead>
            <tr>
                <th>Photo</th>
                <th>Marque</th>
                <th>Réfence</th>
                <th>Prix</th>
            </tr>
        </thead>

        <tbody>
            <tr >
                <td><img src="{{ asset('facteuraccordeur/images/piano1.png') }}"></td>
                <td>BECHSTEIN</td>
                <td>C. Bechstein D282 Vario</td>
                <td>143 123 €</td>
            </tr>
            <tr >
                <td><img src="{{ asset('facteuraccordeur/images/piano3.png') }}"></td>
                <td>KAWAY</td>
                <td>Piano à queue Kawai Shigeru SKEXL Noir laqué</td>
                <td>183 100 €</td>
            </tr>
            <tr >
                <td><img src="{{ asset('facteuraccordeur/images/piano1.png') }}"></td>
                <td>BECHSTEIN</td>
                <td>C. Bechstein D282 Vario</td>
                <td>143 123 €</td>
            </tr>
            <tr >
                <td><img src="{{ asset('facteuraccordeur/images/piano3.png') }}"></td>
                <td>KAWAY</td>
                <td>Piano à queue Kawai Shigeru SKEXL Noir laqué</td>
                <td>183 100 €</td>
            </tr>
        </tbody>
            
        <tfoot>
            <tr>
                <td>M</td>
                <td>M</td>
                <td>M</td>
                <td>M</td>
            </tr>
        </tfoot>

    </table>
    
</main>

{% endblock %}
