{% extends 'faadmin.html.twig' %}

{% block body %}
    <div class="card-body">
        <h1>La liste des sélections</h1>

        <table class="table" id="datatablesSimple">
            <thead>
                <tr>
                    <th>Photo</th>
                    <th>Marque</th>
                    <th>Couleur</th>
                    <th>Forme</th>
                    <th>Ref</th>
                    <th>Prix en €</th>
                    <th>Adresse magasin</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for produit in produits %}
                <tr>
                    <td>
                    <img src="{{app_cdn}}{{produit.photo}}" alt="#" width="60">
                    </td>
                    <td>{{ produit.marque }}</td>
                    <td>{{ produit.couleur }}</td>
                    <td>{{ produit.type }}</td>
                    <td>{{ produit.ref }}</td>
                    <td>{{ produit.prix }}</td>
                    {# <td>{{ dump(produit.magasins) }}</td> #}
                    {# une deuxième boucle car 2 id ds la même entity  #}
                    <td>
                    {% for magasin in produit.magasins %}
                        {{ magasin.nom }} <br> {{ magasin.numero }} {{ magasin.voie }} <br> {{ magasin.codepostal }} {{ magasin.ville }}
                    {% endfor %}
                    </td>
                    <td>
                        <a href="{{ path('app_selection_show', {'id': produit.id}) }}" class="btn btn-danger m-1">Supprimer</a>
                        <a href="{{ path('app_selection_edit', {'id': produit.id}) }}" class="btn btn-primary m-1">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_selection_new') }}" class="btn btn-success">Nouvelle sélection</a>
    </div>
{% endblock %}
