{% extends 'faadmin.html.twig' %}

{% block body %}
    <div class="card-body">
        <h1>Liste des magasins</h1>

        <table class="table" id="datatablesSimple">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Numero</th>
                    <th>Voie</th>
                    <th>Codepostal</th>
                    <th>Ville</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for magasin in magasins %}
                <tr>
                    <td>{{ magasin.nom }}</td>
                    <td>{{ magasin.numero }}</td>
                    <td>{{ magasin.voie }}</td>
                    <td>{{ magasin.codepostal }}</td>
                    <td>{{ magasin.ville }}</td>
                    <td>
                        <a href="{{ path('app_magasin_show', {'id': magasin.id}) }}" class="btn btn-danger m-1">Supprimer</a>
                        <a href="{{ path('app_magasin_edit', {'id': magasin.id}) }}" class="btn btn-primary m-1">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_magasin_new') }}" class="btn btn-success m-1">Créer un nouveau magasin</a>
    </div>
{% endblock %}
