{% extends 'faadmin.html.twig' %}

{% block body %}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Suivi des devis</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active"></li>
        </ol>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">Devis reçus</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">Devis en cours de traitements</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">Devis réalisés</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-danger text-white mb-4">
                    <div class="card-body">Relances devis</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        Area Chart Example
                    </div>
                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        Bar Chart Example
                    </div>
                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        Area Chart Example
                    </div>
                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        Bar Chart Example
                    </div>
                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                </div>
            </div>
        </div>

        {{ dump(deviss) }}

        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Devis reçus
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Nom Client</th>
                            <th>Nom réponse</th>
                            <th>Date</th>
                            <th>Numéro</th>
                            <th>Rue</th>
                            <th>Voie</th>
                            <th>Code-postal</th>
                            <th>Ville</th>
                            <th>Message</th>
                            <th>Photo</th>

                        </tr>
                    </thead>
                    <tbody>

                        {% for devis in deviss %}

                         <tr>
                            <td>{{ devis.user.nom }}</td>
                             <td>{#{{ devis.userrepondre.nom }} #}</td>
                            <td>{{ devis.date | date}}</td>
                            <td>{{ devis.numero }}</td>
                            <td>{{ devis.rue }}</td>
                            <td>{{ devis.voie }}</td>
                            <td>{{ devis.codepostal }}</td>
                            <td>{{ devis.ville }}</td>
                            <td>{{ devis.message }}</td>
                            <td>{{ devis.photo }}</td>
                        </tr> 

                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}
