{% extends 'facteuraccordeur.html.twig' %}
{% block stylesheets %}<link href="{{ asset('facteuraccordeur/css/stylecontact.css') }}" rel="stylesheet" />{% endblock %}

{% block body %}

    <div class="maincontact">
        
        {% if not is_granted("ROLE_USER") %}

            <img class="telephonecontact" src="{{ asset('facteuraccordeur/images/telephone.png') }}" alt="#">

            <p class="numero">06 06 06 06 06</p>

            <img class="arobasecontact" src="{{ asset('facteuraccordeur/images/arobase.png') }}">
            <br>
            <a class="btn btn-primary m-1" href="{{ path('app_register') }}">
                Enregistrement
            </a>
            <a class="btn btn-primary m-1" href="{{ path('app_login') }}">
                Connexion
            </a>
            <p class="info">
                L'enregistrement est obligatoire pour la première conexion
            </p>
            
                {% else %}
                <a class="nav-link" href="{{ path('app_logout') }}"></a>
                <a class="boutonformulairecontact btn btn-primary" href="{{ path('app_formulaire') }}">
                Formulaire de contact
                </a>
        {% endif %}

    </div>

{% endblock %}
